[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-q = "*"
arrow = "==1.2.3"
blessed = "==1.19.1"
django = "=="

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.9"
